
.main-content-wrapper {
	margin-left:0px;
}


/* PANEL CONFIGURATION */
.panel-primary > .panel-heading {
  color: #767676;
  background-color: #fafafa;
  border-color: #eff2f7;
}
.panel-primary {
  border-color: #1abc9c;
}


.panel.panel-info {
margin-top: 0px;
}


.panel-info>.panel-heading {
  color: #5D5F63;
  background-color: #ccd1d9;
  border-color: #ccd1d9;
}

.panel-primary > .panel-heading a:hover {
  color: #fff;
}

.panel-primary > .panel-heading {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  text-align: left;
}

.panel-solid-default > .panel-heading,
.panel-solid-default > .panel-body,
.panel-solid-default > .panel-footer {
  background: #dfdfe1;
  color: #5D5F63;
  border: none;
}
.panel-solid-default p {
  margin-top: 20px;
  margin-bottom: 10px;
}
.panel-solid-default h3 {
  margin-bottom: 10px;
  margin-top: 0px;
}

.panel-solid-default2 > .panel-heading,
.panel-solid-default2 > .panel-body,
.panel-solid-default2 > .panel-footer {
  background: #dfdfe1;
  border: none;
  margin-top: 0px;
}


.panel-solid-success > .panel-heading,
.panel-solid-success > .panel-body,
.panel-solid-success > .panel-footer {
  background: #444c57;
  color: #fff;
  border: none;
}

.progress-bar-primary {
  background-color: #517398;
}

/*containersmall */
.containersmall {
padding: 20px;
margin-right: auto;
margin-left: auto;
}

.fa-times {
  display:none;
}

/* all below css from alternative theme */

/* pannels */
.pn {
  height: 270px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pn:hover {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  
}

.pnArtikel {
  height: 290px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pnArtikel:hover {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  
}

/*PANELS FOR IMAGE*/
.imagearticle {
  background: url(http://images.zeit.de/politik/ausland/2015-02/waffen-syrien/waffen-syrien-540x304.jpg) no-repeat center top;
  text-align: center;
  background-position: center center;
  }

/*darkblue Panel*/
.darkblue-panel {
  text-align: center;
  background: #DFDFE1;
}

.darkblue-panel .darkblue-header {
  background: transparent;
  padding: 3px;
  margin-bottom: 15px;
}
.darkblue-panel h1 {
  color: #5D5F63;
}

.darkblue-panel h3 {
  color: #FF606E;
}
.darkblue-panel h4 {
  color: white;
}

.darkblue-panel h5 {
  font-weight: 200;
  margin-top: 10px;
  color: white;
}

/*Grey Panel*/

.grey-panel {
  text-align: center;
  background: #dfdfe1;
  margin-bottom: 20px;
}
.grey-panel .grey-header {
  background: #ccd1d9;
  padding: 3px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.grey-header {
  background: #ccd1d9;
  padding: 3px;
  margin-bottom: 0px;
}

.grey-panel h5 {
  font-weight: 200;
  margin-top: 10px;
}
.grey-panel p {
  margin-left: 5px;
}
/* Specific Conf for Donut Charts*/
.donut-chart p {
  margin-top: 5px;
  font-weight: 700;
  margin-left: 15px;
}
.donut-chart h2 {
  font-weight: 900;
  color: #FF6B6B;
  font-size: 38px;
}



/* BUTTONS */
.btn-primary,
a.btn-primary:link,
a.btn-primary:visited {
  color: #fff;
  background-color: #5D5F63;
}
a.btn-primary:hover,
a.btn-primary:active {
  color: #ffffff;
  background-color: #1dd2af;
  border-color: #1dd2af;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5D5F63;
  border-color: #5D5F63;
}
.pagination > li > a,
.pagination > li > span {
  color: #5D5F63;
}
