
.main-content-wrapper {
	margin-left:0px;
}


/* PANEL CONFIGURATION */
.panel-primary > .panel-heading {
  color: #767676;
  background-color: #fafafa;
  border-color: #eff2f7;
}
.panel-primary {
  border-color: #1abc9c;
}


.panel.panel-info {
margin-top: 0px;
}

.panel-solid-default2 > .panel-heading,
.panel-solid-default2 > .panel-body,
.panel-solid-default2 > .panel-footer {
  background: #dfdfe1;
  color: #fff;
  border: none;
  margin-top: 0px;
}

.panel-info>.panel-heading {
  color: #5D5F63;
  background-color: #ccd1d9;
  border-color: #ccd1d9;
}

.panel-primary > .panel-heading a:hover {
  color: #fff;
}

.panel-primary > .panel-heading {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  text-align: left;
}

.panel-solid-default > .panel-heading,
.panel-solid-default > .panel-body,
.panel-solid-default > .panel-footer {
  background: #dfdfe1;
  color: #5D5F63;
  border: none;
}

.panel-solid-success > .panel-heading,
.panel-solid-success > .panel-body,
.panel-solid-success > .panel-footer {
  background: #444c57;
  color: #fff;
  border: none;
}

.progress-bar-primary {
  background-color: #1fda9a;
}

/*containersmall */
.containersmall {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.fa-times {
  display:none;
}

/* all below css from alternative theme */

/* pannels */
.pn {
  height: 270px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pn:hover {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  
}

.pnArtikel {
  height: 290px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pnArtikel:hover {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  
}

.green-panel {
  text-align: center;
  background: #68dff0;
}
.green-panel .green-header {
  background: #43b1a9;
  padding: 3px;
  margin-bottom: 15px;
}
.green-panel h5 {
  color: white;
  font-weight: 200;
  margin-top: 10px;
}
.green-panel h3 {
  color: white;
  font-weight: 100;
}
.green-panel p {
  color: gray;
}

/*White Panel */
.white-panel {
  text-align: center;
  background: #ffffff;
  color: #ccd1d9;
}

.white-panel p {
  margin-top: 5px;
  font-weight: 700;
  margin-left: 15px;
}
.white-panel .white-header {
  background: #f4f4f4;
  padding: 3px;
  margin-bottom: 15px;
  color: #c6c6c6;
}
.white-panel .small {
  font-size: 10px;
  color: #ccd1d9;
}

.white-panel i {
  color: #68dff0;
  padding-right: 4px;
  font-size: 14px;
}

.darkblue-panel {
  text-align: center;
  background: #515151;
}
.darkblue-panel .darkblue-header {
  background: transparent;
  padding: 3px;
  margin-bottom: 15px;
  color: #ffffff;
}
.darkblue-panel h1 {
  color: #f2f2f2;
}

.darkblue-panel h3 {
  color: #ffffff;
}
.darkblue-panel h5 {
  font-weight: 200;
  margin-top: 10px;
  color: white;
}
.darkblue-panel footer {
  color: white;
}
.darkblue-panel footer h5 {
  margin-left:10px; 
  margin-right: 10px;
  font-weight: 700;
}

.twitter-panel {
  background: #4fc1e9;
  text-align: center;
}
.twitter-panel i {
  color: white;
  margin-top: 40px;
}
.twitter-panel p {
  color: #f5f5f5;
  margin: 10px;
}
.twitter-panel .user {
  color: white;
  font-weight: 900;
}

.green-panel {
  text-align: center;
  background: #f2f2f2;
}
.green-panel .green-header {
  background: #43b1a9;
  padding: 3px;
  margin-bottom: 15px;
}
.green-panel h5 {
  color: white;
  font-weight: 200;
  margin-top: 10px;
}
.green-panel h3 {
  color: white;
  font-weight: 100;
}
.green-panel p {
  color: white;
}

/*spark line*/
.chart {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.chart .heading {
    text-align: left;
}
.chart .heading span {
    display: block;
}
.panel.green-chart .chart-tittle {
    font-size: 16px;
    padding: 15px;
    display: inline-block;
    font-weight:normal;
    background: #99c262;
    width: 100%;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}
#barchart {
    margin-bottom: -15px;
    display: inline-block;
}
.panel.green-chart .chart-tittle .value {
    float: right;
    color: #c0f080;
}
.panel.green-chart {
    background: #a9d96c;
    color: #fff;
}
.panel.terques-chart {
    background: transparent;
    color: #797979;
}
.panel.terques-chart .chart-tittle .value {
    float: right;
    color: #fff;
}
.panel.terques-chart .chart-tittle .value a {
    color: #2f2f2f;
    font-size: 12px;
}
.panel.terques-chart .chart-tittle .value a:hover, .panel.terques-chart .chart-tittle .value a.active {
    color: #68dff0;
    font-size: 12px;
}
.panel.terques-chart .chart-tittle {
    font-size: 16px;
    padding: 15px;
    display: inline-block;
    font-weight:normal;
    background: #39b7ac;
    width: 100%;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}
.inline-block {
    display: inline-block;
}

/*PANELS FOR IMAGE*/
.imagearticle {
  background: url(http://images.zeit.de/politik/ausland/2015-02/waffen-syrien/waffen-syrien-540x304.jpg) no-repeat center top;
  text-align: center;
  background-position: center center;
  }

/*darkblue Panel*/
.darkblue-panel {
  text-align: center;
  background: #444c57;
}

.darkblue-panel .darkblue-header {
  background: transparent;
  padding: 3px;
  margin-bottom: 15px;
}
.darkblue-panel h1 {
  color: #f2f2f2;
}
.darkblue-panel h5 {
  font-weight: 200;
  margin-top: 10px;
  color: white;
}
.darkblue-panel footer {
  color: white;
}
.darkblue-panel footer h5 {
  margin-left:10px; 
  margin-right: 10px;
  font-weight: 700;
}

/*Grey Panel*/

.grey-panel {
  text-align: center;
  background: #dfdfe1;
}
.grey-panel .grey-header {
  background: #ccd1d9;
  padding: 3px;
  margin-bottom: 15px;
}
.grey-panel h5 {
  font-weight: 200;
  margin-top: 10px;
}
.grey-panel p {
  margin-left: 5px;
}
/* Specific Conf for Donut Charts*/
.donut-chart p {
  margin-top: 5px;
  font-weight: 700;
  margin-left: 15px;
}
.donut-chart h2 {
  font-weight: 900;
  color: #FF6B6B;
  font-size: 38px;
}

/*White Panel */
.white-panel {
  text-align: center;
  background: #ffffff;
  color: #ccd1d9;
}

.white-panel p {
  margin-top: 5px;
  font-weight: 700;
  margin-left: 15px;
}
.white-panel .white-header {
  background: #f4f4f4;
  padding: 3px;
  margin-bottom: 15px;
  color: #c6c6c6;
}
.white-panel .small {
  font-size: 10px;
  color: #ccd1d9;
}

.white-panel i {
  color: #68dff0;
  padding-right: 4px;
  font-size: 14px;
}


/* CURRENTLY NOT IN USE CONFIGURATION */

.dashboard-tile .content p {
  margin-bottom: 0;
  padding: 10px;
  font-weight: 4 00;
  font-size: 14px;
  clear: both;
}

#main-content .dashboard-tile .content h1 {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  padding: 8px;
}